/* Reset dasar */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Latar belakang halaman */
body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f5f5f5;
	overflow-x: hidden;
}
/* Header */
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	position: fixed; /* Menjadikan navbar tetap di atas */
	top: 0; /* Memastikan posisinya di bagian atas */
	z-index: 1000; /* Memastikan berada di atas elemen lainnya */
	padding-inline: 90px;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	color: #7fbf7f;
}

.nav {
	display: flex;
	gap: 90px;
	font-size: 15px;
	padding-left: 7cm;
}

.nav a {
	text-decoration: none;
	color: #5c7838;
}

.nav a:hover {
	font-weight: bolder;
	color: #5c7838;
}

.login-button {
	padding: 8px 20px;
	background-color: #739646;
	color: #fff;
	border-radius: 20px;
	text-decoration: none;
	font-size: 15px;
}

/* asset */
.vector-icon {
	position: absolute;
	top: 2280px;
	left: -430px;
	width: 1099.2px;
	height: 1000.8px;
	object-fit: contain;
	opacity: 0.5;
}
.inspiration-guide-panduan-inner {
	position: absolute;
	top: 2502px;
	left: -460px;
	filter: blur(150px);
	border-radius: 50%;
	background-color: #82bbff;
	width: 723px;
	height: 631px;
	opacity: 0.3;
}
.group-icon {
	position: absolute;
	top: 4152px;
	left: 963px;
	width: 740px;
	height: 503px;
}

.unsplashoypnyfdiqgg-icon {
	width: 100vw; 
	height: 100%;
	object-fit: cover;
}

/* eco house opening */
.eco-house-guide {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Optician Sans";
}

.unsplashoypnyfdiqgg-parent {
	margin-top: 75px;
	align-items: center;
	background-color: #000;
	height: 583px;
	overflow: hidden;
	text-align: justify;
	font-size: 64px;
	color: #fff;
}

.rectangle-div {
	position: absolute;
	top: 570px;
	left: 50%;
	transform: translateX(-50%);
	width: 1200px;
	height: 171px;
}

.instance-child {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	box-shadow: 4px 4px 30px rgba(255, 255, 255, 0.5);
	border-radius: 24px;
	background-color: #455a2a;
}

.an-environmentally-friendly {
	position: absolute;
	top: 655px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: Poppins;
	color: #fff;
	text-align: justify;
	display: inline-block;
	width: 1156px;
	font-size: 23px;
}

/* benefit */
.benefits-if-you {
	position: absolute;
	top: 850px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	font-family: "Optician Sans";
}

.card-bif-1,
.card-bif-2,
.card-bif-3,
.card-bif-4,
.card-bif-5,
.card-bif-6 {
	position: absolute;
	width: 185px; 
	height: 346px; 
	border-radius: 24px;
	overflow: hidden; 
}

.card-bif-1 {
	top: 926px;
	left: 160px;
}
.card-bif-2 {
	top: 926px;
	left: 361px;
}
.card-bif-3 {
	top: 926px;
	left: 562px;
}
.card-bif-4 {
	top: 926px;
	left: 763px;
}
.card-bif-5 {
	top: 926px;
	left: 964px;
}
.card-bif-6 {
	top: 926px;
	left: 1165px;
}

.card-bif-1-child {
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
}

.card-bif-1-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 24px;
	background-color: rgba(0, 0, 0, 0.5); 
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0; 
	transition: opacity 0.3s ease;
	font-family: "Optician Sans";
}

.card-bif-1:hover .overlay,
.card-bif-2:hover .overlay,
.card-bif-3:hover .overlay,
.card-bif-4:hover .overlay,
.card-bif-5:hover .overlay,
.card-bif-6:hover .overlay {
	opacity: 1; 
}

.text {
	color: white;
	font-size: 18px; /* Ukuran teks */
	text-align: center;
}

/* environtment */
.environmentally-friendly-mater {
	position: absolute;
	top: 1400px;
	left: 235px;
	font-size: 40px;
	font-family: "Optician Sans";
}

.frame-parent {
	display: flex;
	overflow-x: auto;
	padding: 100px;
	border-radius: 24px;
	transform: translateY(750px);
	margin-left: 385px;
	white-space: nowrap;
	cursor: grab;
	width: 100vw;
}

.frame-parent.active {
	cursor: grabbing;
}

.recycled-wood-1-parent {
	flex: 0 0 auto;
	width: 200px;
	margin-right: 90px;
	border-radius: 24px;
	overflow: hidden;
	position: relative;
	box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.549);
}

.recycled-wood-1-parent img {
	width: 100%;
	border-radius: 24px;
	display: block;
}

.recycled-wood,
.natural-insulation,
.eco-friendly-paint,
.clay-brick,
.energy-saving-glass,
.bamboo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
	padding: 5px;
	box-sizing: border-box;
	width: 90%;
	font-family: "Optician Sans";
}

/* renewable */
.renewable-energy-technologies {
	position: absolute;
	top: 1919px;
	left: 50%; 
	transform: translateX(-50%); 
	font-size: 40px;
	letter-spacing: -0.02em;
	width: 1082.5px;
	text-align: center;
	font-family: "Optician Sans";
}
.component-1 {
	position: absolute;
	top: 2080px;
	left: 120px;
	width: 1200px;
	height: 368px;
	text-align: left;
	font-size: 16px;
	font-family: Poppins;
}
.component-1-child {
	position: absolute;
	height: 100%;
	width: 49.05%;
	top: 0%;
	right: 50.95%;
	bottom: 0%;
	left: 0%;
	border-radius: 24px;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
	object-fit: cover;
}
.solar-panels {
	top: 0px;
	left: 0px;
	letter-spacing: -0.02em;
}
.solar-panels-wrapper {
	position: absolute;
	height: 10.87%;
	top: 0%;
	bottom: 89.13%;
	left: 50.78%;
	font-size: 40px;
	font-family: "Optician Sans";
}
.types-monocrystalline-panels-wrapper {
	position: absolute;
	height: 29.89%;
	width: 49.22%;
	top: 27.17%;
	right: 0%;
	bottom: 42.93%;
	left: 50.78%;
}
.types-monocrystalline-panels-container {
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 140%;
	display: inline-block;
	width: 568px;
}
.monocrystalline-panels-high-e {
	margin: 0;
	font-size: inherit;
	padding-left: 21px;
}
.monocrystalline-panels-high {
	font-weight: 500;
}
.polycrystalline-panels-slight {
	margin-bottom: 0px;
}
.benefits-reduces-electricity-wrapper {
	position: absolute;
	height: 12.23%;
	width: 48.96%;
	top: 87.77%;
	right: 0%;
	bottom: 0%;
	left: 51.04%;
	text-align: justify;
}
.how-it-works-solar-panels-cap-wrapper {
	position: absolute;
	height: 18.21%;
	width: 48.96%;
	top: 63.32%;
	right: 0%;
	bottom: 18.48%;
	left: 51.04%;
	text-align: justify;
}
.how-it-works-container {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	width: 565px;
}
.benefits-reduces-electricity-wrapper {
	position: absolute;
	height: 12.23%;
	width: 48.96%;
	top: 87.77%;
	right: 0%;
	bottom: 0%;
	left: 51.04%;
	text-align: justify;
}
.how-it-works-solar-panels-cap-wrapper {
	position: absolute;
	height: 18.21%;
	width: 48.96%;
	top: 63.32%;
	right: 0%;
	bottom: 18.48%;
	left: 51.04%;
	text-align: justify;
}

.component-2 {
	position: absolute;
	top: 2529px;
	left: 120px;
	width: 1200px;
	height: 368px;
	text-align: left;
	font-size: 16px;
	font-family: Poppins;
}
.types-monocrystalline-panels-container2 {
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	width: 568px;
}

.component-3 {
	position: absolute;
	top: 2978px;
	left: 120px;
	width: 1200px;
	height: 368px;
	text-align: left;
	font-size: 16px;
	font-family: Poppins;
}

/* DIY */
.diy-and-inspiration {
	position: absolute;
	top: 3514px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 40px;
	letter-spacing: -0.02em;
	width: 1082.5px;
	text-align: center;
	font-family: "Optician Sans";
}
.diy-projects {
	display: grid;
	gap: 60px;
	padding: 10px;
	width: 1300px;
	height: 350px;
}

@media (min-width: 900px) {
	.diy-projects {
		grid-template-columns: repeat(3, minmax(250px, 1fr));
	}
}

@media (min-width: 600px) and (max-width: 899px) {
	.diy-projects {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 599px) {
	.diy-projects {
		grid-template-columns: 1fr;
	}
}

.diy-project {
	background-color: #fff;
	border-radius: 16px;
	text-align: center;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
	overflow: hidden;
	padding-bottom: 10px;
	transition: background-color 0.3s ease, color 0.3s ease;
	position: relative;
	top: 2550px;
}

.diy-project:hover {
	background-color: #739646;
	color: #fff;
}
.diy-project img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 16px 16px 0 0; 
}
.diy-project h3 {
	font-size: 24px;
	margin: 10px 10px;
	font-family: "Optician Sans";
	text-decoration: none;
	padding: 0px;
	font-weight: 300;
	margin-top: 16px;
}

.youtube-icon::before {
	content: "▶";
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
	color: #000000;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 16%;
	padding: 15px;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 1;
}

.youtube-icon:hover:before {
	color: #ffffff;
	background: #739646;
}

.youtube-icon img {
	display: block;
}

.hover-more {
  text-align: center; 
	overflow: hidden;
	position: relative;
	top: 2600px;
}

.cta-button {
  background-color: #739646;
  color: #fff;
  padding: 7px 100px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  display: inline-block; 
}

.cta-button:hover {
  background-color: #fff;
  color: #6ea54e;
}


.yellow-and-green-modern-logo1 {
	width: 168px;
	position: relative;
	height: 32px;
	object-fit: cover;
}
.we-provide-information {
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	line-height: 140%;
	display: inline-block;
	opacity: 0.75;
}
.brandicofacebook-icon {
	width: 32px;
	position: relative;
	height: 32px;
	overflow: hidden;
	flex-shrink: 0;
}
.brandicofacebook-parent {
	position: absolute;
	height: 25%;
	width: 45%;
	top: 75%;
	right: 55%;
	bottom: 0%;
	left: 0%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 24px;
}
.bio {
	width: 320px;
	position: relative;
	height: 128px;
}
.yellow-and-green-modern-logo-group {
	width: 320px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}
.property1 {
	width: 94px;
	position: relative;
	font-size: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	display: inline-block;
	color: #414958;
}
.discover {
	align-self: stretch;
	position: relative;
	font-weight: 500;
}
.property {
	width: 176px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}
.article1 {
	align-self: stretch;
	position: relative;
	font-size: 16px;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #414958;
}
.eco-tech {
	align-self: stretch;
	position: relative;
	text-transform: capitalize;
	font-family: Lexend;
}
.article {
	width: 212px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 19px;
}
.contact {
	width: 265px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}
.property-parent {
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	gap: 30px;
}
.frame-wrapper {
	width: 713px;
	position: relative;
	height: 168px;
	text-align: left;
	font-size: 14px;
}
.frame-group {
	position: absolute;
	top: 4219px;
	left: 122px;
	width: 1209px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	text-align: justify;
	font-size: 11px;
	color: #8694b4;
	font-family: Poppins;
}


.inspiration-guide-panduan {
	width: 100%;
	position: relative;
	background-color: #fff;
	height: 4510px;
	overflow-y: auto;
	text-align: center;
	font-size: 24px;
	color: #000;
	font-family: "Optician Sans";
}
