/* NAVBAR */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Menjadikan navbar tetap di atas */
  top: 0; /* Memastikan posisinya di bagian atas */
  z-index: 1000; /* Memastikan berada di atas elemen lainnya */
  padding-inline: 90px; /* Padding atas/bawah dan samping */
  box-sizing: border-box; /* Pastikan padding tidak mempengaruhi lebar total */
  padding-bottom: 5px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #7fbf7f;
}

.nav {
  display: flex;
  align-items: center; /* Membuat elemen di dalamnya rata secara vertikal */
  gap: 70px; /* Mengatur jarak antar item di navbar */
  font-size: 15px;
  font-family: Poppins;
  padding-top: 10px;
}

.nav a {
  text-decoration: none;
  color: #5c7838;
  transition: font-weight 0.3s ease, color 0.3s ease;
}

.nav a:hover {
  font-weight: bold;
  color: #5c7838;
}

.nav .login-button {
  padding: 7px 20px;
  background-color: #739646;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 15px;
}

.cta-button {
  background-color: #739646;
  color: #fff;
  padding: 5px 60px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid #739646;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Poppins", sans-serif;
  display: inline-block; /* Membuat tombol mengikuti text-align */
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #fff;
  color: #6ea54e;
}

.yellow-and-green-modern-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 284px;
  height: 67px;
  object-fit: cover;
  cursor: pointer;
}
.label {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.buttoncontent {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.buttoncontent-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.button {
  position: absolute;
  top: -0.5px;
  left: -154px;
  box-shadow: 0px -1px 0.5px rgba(14, 14, 44, 0.4) inset;
  border-radius: 50px;
  background-color: #fff;
  width: 127px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-sizing: border-box;
}
.button1 {
  position: absolute;
  top: -0.5px;
  left: 33px;
  box-shadow: 0px -1px 0.5px rgba(14, 14, 44, 0.4) inset;
  border-radius: 50px;
  background-color: #fff;
  width: 127px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-sizing: border-box;
}
.button2 {
  position: absolute;
  top: -0.5px;
  left: 220px;
  border-radius: 50px;
  background-color: #fff;
  width: 113px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-sizing: border-box;
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button3 {
  position: absolute;
  top: -0.5px;
  left: 393px;
  box-shadow: 0px -1px 0.5px rgba(14, 14, 44, 0.4) inset;
  border-radius: 50px;
  background-color: #fff;
  width: 113px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  box-sizing: border-box;
  font-size: 16px;
}
.buttonprimary {
  position: absolute;
  top: 0px;
  left: 567px;
  border-radius: 50px;
  background-color: #739646;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.button-parent {
  position: absolute;
  top: 9.5px;
  left: 547px;
  width: 681px;
  height: 48px;
}
.yellow-and-green-modern-logo-parent {
  position: absolute;
  top: 22px;
  left: 105px;
  width: 1228px;
  height: 67px;
}
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 111px;
  font-size: 14px;
  color: #5c7838;
}
.profile-page-child {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 1440px;
  height: 606px;
  object-fit: cover;
}
.profile-page-item {
  position: absolute;
  top: 616px;
  left: 120px;
  border-radius: 50%;
  width: 196px;
  height: 202px;
  object-fit: cover;
}
.ester-howard {
  position: absolute;
  top: 720px;
  left: 316px;
  font-size: 28px;
  font-weight: 500;
  display: inline-block;
  width: 233px;
}
.more {
  position: absolute;
  top: 690px;
  left: 1038px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  width: 282px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  text-align: right;
  font-family: poppins;
  /* color: #fbfbfb; */
}
.line {
  position: absolute;
  top: 865.5px;
  left: 118.5px;
  border-top: 1px solid #dde1e6;
  box-sizing: border-box;
  width: 1202px;
  height: 1px;
}
.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 24px;
  background-color: #f7ffec;
  width: 1200px;
  height: 548px;
}
.love-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.div {
  position: absolute;
  top: 7px;
  left: 67px;
  font-weight: 500;
}
.love-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 97px;
  height: 50px;
}
.chat-message-parent {
  position: absolute;
  top: 0px;
  left: 233px;
  width: 83px;
  height: 50px;
}
.group-container {
  position: absolute;
  top: 414px;
  left: 0px;
  width: 316px;
  height: 50px;
}
.hi-everyone {
  margin: 0;
}
.hi-everyone-container {
  position: absolute;
  top: 204px;
  left: 0px;
  font-weight: 500;
  display: inline-block;
  width: 1044px;
}
.looking-for-simple {
  position: absolute;
  top: 101px;
  left: 0px;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 1044px;
}
.more-icon {
  position: absolute;
  top: 8px;
  left: 997px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.group-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.ester-howard1 {
  position: absolute;
  top: 4px;
  left: 100px;
  font-weight: 500;
  display: inline-block;
  width: 233px;
}
.aug-24-2024 {
  position: absolute;
  top: 40px;
  left: 102px;
  font-size: 11px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.72);
}
.profile{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 333px;
  height: 65px;
  
}
.more-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1047px;
  height: 65px;
  font-size: 24px;
  font-family: Poppins;
}
.looking-for-simple-tips-to-sta-parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1047px;
  height: 181px;
  text-align: left;
  font-size: 40px;
  font-family: 'Optician Sans';
}
.hi-everyone-im-new-to-the-parent {
  position: absolute;
  top: 0px;
  left: 5px;
  width: 1047px;
  height: 384px;
}
.group-parent {
  position: absolute;
  top: 37px;
  left: 73px;
  width: 1052px;
  height: 464px;
}
.rectangle-parent {
  position: absolute;
  top: 906px;
  left: 120px;
  width: 1200px;
  height: 548px;
  text-align: justify;
}
.profile-page {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 3135px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #000;
  font-family: Poppins;
}
